<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Combatless</title>
	<!--<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">-->
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
	<link rel="stylesheet" href='<%= static_path(@conn, "/css/app.css") %>'>
	<script>
		function run(cb) { window.require ? cb() : window.addEventListener('combatless_loaded', cb) }
	</script>
</head>

<body>
<header>
	<%= render "navbar.html", conn: @conn %>
</header>
<main role="main">
	<%= if get_flash @conn, :error do %>
	<div class="container my-3 alert alert-danger alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= get_flash @conn, :error %>
	</div>
	<% end %>
	<%= if get_flash @conn, :info do %>
	<div class="container my-3 alert alert-info alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<%= get_flash @conn, :info %>
	</div>
	<% end %>
	<%= render @view_module, @view_template, assigns %>
</main>

<footer class="text-center">current combatless made by bitwise, icons by bea5</footer>

<script src='<%= static_path(@conn, "/js/app.js") %>'></script>
</body>
</html>
