<table class="table table-striped table-bordered table-sm">
	<thead>
	<tr>
		<th>Skill</th>
		<th>Rank</th>
		<th>Level</th>
		<th>Xp</th>
		<th>Xp Gained</th>
		<th>EHP Gained</th>
		<th>EHP</th>
	</tr>
	</thead>
	<tbody>
		<%= for skill <- get_display_order(), do: get_profile_skill_row_data(@conn, skill, @profile) %>
	</tbody>
</table>
