@import "variables";
@import "bootstrap";

.navbar {

  &-brand {
    margin-right: 2rem;
  }

  &-nav .nav-item + .nav-item {
    margin-left: 2rem;
  }

  &-nav .nav-link {
    padding-top: 0.5rem;
  }
}
