@import "variables";
@import "bootstrap";

@import "utils";
@import "typography";
@import "navbar";
@import "footer";
@import "profile";
@import "hiscores";
@import "rankings";

html {
  position: relative;
  min-height: 100%;
}





.skill-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: drop-shadow(0 0 5px lighten($body-bg, 15%));
}
