@import 'settings';
@import 'foundation';

@include foundation-everything;

html, body {
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  & main {
    flex: 1;
  }
}

.top-bar-title > a {
  font-size: 1.3rem;
  color: $light-gray;
  opacity: 0.9;
}

$search-height: 2rem;

.search {
  margin: 0;

  input {
    height: $search-height;

    &[type="search"] {
      padding: 0 0 0 8px;
      color: $steel-gray;
      &::placeholder {
        color: $steel-gray;
      }
      &:focus::placeholder {
        color: $medium-gray;
      }
      border: none;
    }

    &[type="submit"] {
      margin: 0;
      background-color: lighten($primary-color, 5%);
    }
  }
}

main {
  width: 95%;
  max-width: map-get($breakpoints, large);
  margin: 0 auto;

  @include breakpoint(large) {
    width: map-get($breakpoints, large);
  }
}

.skill-icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: drop-shadow(0 0 5px lighten($body-background, 15%));
}

.tracker {
  width: 100%;
  display: block;
  padding: 0;
  border-spacing: 0;

  thead, tbody {
    border: none;
  }

  thead, tbody, th, td, tr {
    display: inherit;
  }

  thead tr {
    display: none;
  }

  tr:nth-child(odd) {
    background-color: $body-background;
  }

  tr:nth-child(even) {
    background-color: lighten($body-background, 3%);
  }

  tbody tr {
    width: 100%;
    border-bottom: 1px solid $steel-gray;

    &:nth-child(even) {
      //background-color: $body-background;
      border-bottom: 1px solid $steel-gray;
    }
  }

  tbody td {
    border-bottom: 1px solid $steel-gray;
    padding-right: 1rem;

    &:before {
      float: left;
    }

    &:first-child {
      text-align: center;
      border-bottom: none;
      padding-top: .5rem;
      padding-left: 1rem;
      content: "Skill";
    }

    &:nth-of-type(2):before {
      padding-left: 1rem;
      content: "Rank";
    }

    &:nth-of-type(3):before {
      padding-left: 1rem;
      content: "Level";
    }

    &:nth-of-type(4):before {
      padding-left: 1rem;
      content: "XP";
    }

    &:nth-of-type(5):before {
      padding-left: 1rem;
      content: "Gains";
    }

    &:nth-of-type(6):before {
      padding-left: 1rem;
      content: "EHP";
    }
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
    border: none;
  }

  @include breakpoint(medium) {
    thead {
      display: table-header-group;
      background: $body-background;
      border-bottom: 1px solid $dark-gray;

      tr {
        display: table-row;
        th {
          text-align: center;
          padding: .4rem;
          font-weight: normal;
          border-right: 1px solid $steel-gray;
          border-top: 1px solid $steel-gray;

          &:first-child {
            border-left: 1px solid $steel-gray;
          }
        }
      }
    }

    tbody {
      display: table-row-group;
    }

    th, td {
      display: table-cell;
    }

    tr {
      display: table-row;
    }

    tbody td {
      border-right: 1px solid $steel-gray;
      padding: .2rem .8rem .2rem .2rem;

      &:first-child {
        border-left: 1px solid $steel-gray;
      }

      &:nth-of-type(n):before {
        content: none;
      }

      abbr[title]:after {
        content: "";
      }
    }

    tr:last-child td {
      border-bottom: 1px solid $steel-gray;
    }

    display: table;
  }
}

.tracker-container {
  padding: 0;
}

.tracker-header {
  margin-bottom: 2rem;
}

.name-block {

  width: 100%;

  span {
    display: table;
    margin: 0 auto;
    font-size: larger;
  }

  @include breakpoint(medium) {
    .account-name {
      display: inline;
    }

    span {
      display: inline;
      margin: 1rem;
    }
  }
}

.account-name {
  font-size: $h1-font-size * 2;
  word-wrap: break-word;
  text-align: center;
}

.updated-at {
  font-size: $cite-font-size;
  text-align: center;
  margin-bottom: .5rem;
  p {
    margin: .2rem;
    text-align: center;
  }
}

.update-button {
  display: block;
  margin: 0 auto;
  width: 100%;

  @include breakpoint(medium) {
    width: 10rem;
  }
}

.diff {
  &.negative {
    color: $alert-color;
  }

  &.positive {
    color: $success-color;
  }
}

.invalid-name {
  margin-top: 1rem;
}

.shoutbox {
  margin: 2rem auto;
  max-width: 1024px;
}

main {
  margin-top: 2rem;
}

.update-block {
  text-align: center;
  margin: 0 auto;
  @include breakpoint(medium) {
    float: right;
  }
  a.update-button {
    margin: 0 auto;
  }
}

.import-cml {
  margin-top: 1rem;
}

.newcomer {
  a.button {
    margin: 0 auto;
  }
}

.virtual-level-tooltip[title] {
  text-decoration: underline;
  border: none;
  text-decoration-color: $primary-color;

  &:hover {
    cursor: pointer;
  }
}

.account-tools {
}

.name-change-request {
  max-width: 300px;
  margin: 0 auto;

  & label {
    color: $primary-color;
  }

  & button {
    margin: 0 auto;
    width: 100%;
  }
}

.hiscore-pages {
  @extend .text-center;
}

.hiscores-skills-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint(large) {
    flex-wrap: nowrap;
  }

  & .hiscore-active {
    box-shadow: 0 1rem 6px -6px $primary-color;
  }

  & .skill-icon {
    width: 50px;
    height: 50px;
  }
}

.hiscore-ranks {
  display: flex;
  justify-content: center;

  table {
    width: auto;
    tbody {
      border: none;
      tr {
        border: none
      }
    }
  }

  .hiscore-rank {
    padding: 0;
  }

  .hiscore-name {
    padding-left: .5rem;
    a {
      margin: 0;
    }
  }

  ul {
    list-style: none;
  }

  a {
    margin: 1rem;
    color: lighten($primary-color, 10%)
  }

  a:hover {
    color: darken($primary-color, 10%);
  }
}

.data {
  @extend .monospace;
  text-align: right;
}

.monospace {
  font-family: 'Droid Sans Mono', monospace;
  font-size: $base-font-size;
}
